# Ignore the virtual environment folder
.venv/
venv/
ENV/

# Ignore your database configuration credentials
#config.db

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore local environment variables if you ever use them
.env
